body{
  background-image: url("../img/baner-form.jpg");
  background-repeat: no-repeat;
}

.container__form{
  align-items: center;
  display: flex;
  height: 100vh;
  min-width: 80vw;
  justify-content: center;
}

.legend__title--form{
  font-family: 'Poppins', sans-serif;
  font-size: 2.8rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

form{
  background-color: #f7f7f7;
  border-radius: 10%;
  box-shadow: 3px 3px 4px 4px;
  display: flex;
  flex-direction: column;
  height: 240px;
  padding: 1.5rem;
}

.fab fa-slack{
  height: 360px;
  padding: 1.2rem;
  width: 100%;
}
